<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Faculdade S.O.S</h1>
  </mat-toolbar-row>
</mat-toolbar>
  <div class="example-button-row"></div>
    <br><button mat-raised-button [routerLink]="['/cadastrar-component']" color="primary" p>CADASTRO</button>

    <br><button mat-raised-button [routerLink]="['/excluir-component']" color="primary">EXCLUIR</button>

    <br><button mat-raised-button  [routerLink]="['/add-component']" color="primary">ADICIONAR</button>

    <br><button mat-raised-button [routerLink]="['/tabelas-component']" color="primary">TABELAS</button>
